.crypto {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.crypto .header {
	display: flex;
	flex-direction: row;
}

.crypto .header .add {
	margin-left: 20px;
	margin-top: 7px;
}
.crypto .positive {
	color: green;
}

.crypto .negative {
	color: red;
}

.crypto .cell {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.crypto .cell .coin {
	font-size: 1.1em;
	font-weight: 400;
}

.crypto .cell .date {
	color: #999;
}