.crypto {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.crypto .header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.crypto .header .add {
	margin-left: 20px;
}
.crypto .positive {
	color: green;
}

.crypto .negative {
	color: red;
}