.loginForm {
    width: 250px;
    margin: 0 auto;
}

.normal {
    width: 100%!important;
}

form button {
    margin-top: 30px!important;
}

.loginInput {
    width: 100%;
}

.registerButton {
    width: 100%;
}