.welcome {
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 50px;
}

.login {
    padding: 100px;
}

.login h1 {
    margin-top: 0px!important;
    margin-bottom: 50px!important;
}

.buttons {
    margin:auto auto;
    display: flex;
    flex-direction: column;
    width: 250px
}

.buttons button {
    justify-content: left!important;
}
.facebook {
    background-color: #3b5998!important;
    color: white!important;
}

.facebook:hover {
    background-color: #5a7abf!important;
}

.google {
    background-color: #4285f4!important;
    color: white!important;
}

.google:hover {
    background-color: #6ea3f7!important;
}

.fa-google, .fa-facebook-f {
    margin-right: 20px;
    width: 20px!important;
}

.fa-google > div, .fa-facebook-f > div{
    width: auto;
}

.buttons > button {
    margin-bottom: 20px;
}

.login img {
    height: 75px;
}