.welcome {
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    position: relative
}

.login {
    padding: 65px 100px;
}

.login h1 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.buttons {
    margin:auto auto;
    display: flex;
    flex-direction: row;
    width: 250px
}

.buttons button {
    justify-content: left!important;
    flex-grow: 1;
    width: 100%;
    padding: 8px 0!important
}
.facebook {
    background-color: #3b5998!important;
    color: white!important;
    margin-right: 5px;
}

.facebook span svg {
    left: 11px
}

.facebook span div {
    width: 100%;
    margin-left: 10px;
}

.facebook:hover {
    background-color: #5a7abf!important;
}

.google {
    background-color: #4285f4!important;
    color: white!important;
    margin-left: 5px;
}

.google span svg {
    left: 12px;
}

.google span div {
    width: 100%;
    margin-left: 10px;
}

.google:hover {
    background-color: #6ea3f7!important;
}

.fa-google, .fa-facebook-f {
    position: absolute;
}

.fa-google > div, .fa-facebook-f > div{
    width: auto;
}

.login img {
    height: 75px;
}

.welcome button {
    margin-top: 20px;
}